{% extends 'base.html' %}

{% block title %} Главная страница {% endblock %}

{% block content %}

<body>
    <h5>Здравствуйте! Спасибо, что вы зашли на наш сайт :)</h5>
    <p>Этот сайт посвящен изучению французского языка с помощью стихотворений.</p>

    <h5>В нем есть несколько разделов:</h5>
    <ul>
    <li><b>Раздел "Аудирование":</b> сайт предложит вам текст стихотворения, где пропущено слово, и отправит вам аудио с прочтением стихотворения. Его вам нужно будет послушать и заполнить пропуск одним словом в окошке ниже. У вас будет много попыток на то, чтобы написать правильное слово.</li>
    <li><b>Раздел "Поэзия или компьютер?":</b> сайт предложит вам строчку, и вам нужно будет попробовать угадать, настоящая ли это строчка из реального французского стихотворения или же эта строчка была сгенерирована компьютером. В этом же разделе на вкладке "Статистика" вы сможете посмотреть статистику правильных ответов, данных в сумме всеми пользователями на это задание.</li>
    </ul>

    <h5>Кому будет полезен сайт:</h5>
    <ul>
    <li><b>Изучающим французский язык.</b> Если вы изучаете французский и хотели бы потренировать аудирование, то этот сайт для вас! С помощью него вы сможете продвинуться в своих навыках распознавания французских слов на слух.</li>
    <li><b>Влюбленным во французскую поэзию.</b> Если вам нравится читать стихи на французском языке, то этот сайт вам отлично подойдёт! Здесь вы не только потренируетесь во французском, но и почитаете и изучите оригинальные французские произведения.</li>
    </ul>

    <h5>Если вы готовы начать, переходите в соответствующие разделы!</h5>
    <button type="button" class="btn btn-primary" onclick="window.location.href = '/listening';">Аудирование</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href = '/game';">Поэзия или компьютер?</button>

</body>

{% endblock %}